:root{
	--color-dynamic: white;
	--color-dynAfter: #dfdddd;
	--button-color: #89c1fb;
	--button-after: #fb8989;
}
@font-face{
	font-family: Lib;
	src: url('fonts/suit.TTF');
}
@font-face{
    font-family: zekt;
    src: url('fonts/zekton rg.ttf');
}
html{
	background: url("images/indexBackground.png") no-repeat center center fixed; 
	background-size: cover;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
}
.areYou{
  font-family: Lib, Helvetica;
  font-size: 32px;
  text-align: center;
}
.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7%;
}
.child {
  display: inline-block;
  background-color: rgba(255,255,255,.4);
  width: 350px;
  height: 360px;
  border-radius: 5px;
  text-align: center;
}
.space{
  padding: 20px;
  opacity: 0;
}
.loginAs{
  font-family: Lib, Helvetica;
  font-size: 32px;
  text-align: center;
  margin-top: 5%;
  background-color: var(--button-color);
  color: white;
  width: 270px;
  height: 50px;
}
.loginAs:hover{
  background-color: var(--button-after);
}
.child:hover{
  background-color: rgba(255,255,255,.6);
}